.gallery .scrollable-container{
  width: 520px;
  height: 60px;
}

.gallery .viewer{
  display: block;
  width:520px;
  height:360px;
}

.gallery .viewer img{
  position: absolute;
  clip: rect(0px 500px 350px 0px) ;
}

.gallery .scrollable{
  width:420px;
  height: 60px;
  position:relative;
  overflow: hidden;
  float: left;
}

.gallery .scrollable-menu{
  float: left;
  width: 100px;
}

.gallery .item{
  float: left;
  width: 420px;
}

.gallery .item img{
  margin-left: 5px;
  border: 2px solid white;
}

.gallery .item img:hover, .item img.current{
  border: 2px solid #D16509;
}

.gallery .items{
  float: left;
  position:relative;
  width: 20000em;
  height: 60px;
}

/* Fade In Plugin  */
.fade-in{
  display: none;
}

/* Global Style */
.hidden{
  display: none;
}
