.scrollable-container{
  width: 520px;
  height: 60px;
}

.viewer{
  display: block;
  width:520px;
  height:360px;
}

.viewer img{
  position: absolute;
  clip: rect(0px 500px 350px 0px) ;
}

.scrollable{
  width:420px;
  height: 60px;
  position:relative;
  overflow: hidden;
  float: left;
}

.scrollable-menu{
  float: left;
  width: 100px;
}

.item{
  float: left;
  width: 420px;
}

.item img{
  margin-left: 5px;
  border: 2px solid white;
}

.item img:hover, .item img.current{
  border: 2px solid #D16509;
}

.items{
  float: left;
  position:relative;
  width: 20000em;
  height: 60px;
}

.fade-in{
  display: none;
}

.hidden{
  display: none;
}
